:root {
  --mainColor: black;
}

@font-face {
  font-family: s;
  src: url("/static/fonts/s.woff2");
}

@font-face {
  font-family: f;
  src: url("/static/fonts/f.woff2");
}

.container {
  margin-top: 25px;
}

.text_container {
  position: relative;
  margin-top: 30vh;
  width: 100%;
  margin: 15vh auto 0 auto;
  text-align: center;
}

.h1 {
  font-family: 's', serif;
  text-align: center;
  font-weight: 100;
  line-height: 22vw;
  animation-name: fade-in;
  animation-duration: 2s;
  font-size: 15vw;
  letter-spacing: -0.1em;
}

.p_about {
  font-family: 's', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-name: fade-in;
  animation-duration: 2s;
  font-size: 2em;
}


.h2 {
  font-family: 's', serif;
  animation-name: fade-in;
  animation-duration: 2s;
  font-weight: 100;
  font-size: 5vw;
  letter-spacing: 0.1em;
  width: fit-content;
  margin: 0 0 0 10vw;
}

.a_head {
  font-family: 's', serif;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 0.25em;
  background:
    linear-gradient(to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%);
  background-position: 0 0%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: all .2s;
  font-size: 2em;
}

.a_head:hover {
  color: white;
  background-size: 4px 50px;
}

.a {
  font-family: 's', serif;
  letter-spacing: 5px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 0.20em;
  background:
    linear-gradient(to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: all .2s;
  font-size: 2em;
}

.a:hover {
  color: white;
  background-size: 4px 50px;
}

.ul {
  list-style: none;
  padding: 0;
  text-align: center;
  padding-bottom: 10vh;
}

.li {
  display: inline-block; 
  animation: fade-in 3s;
}

.ul .li .a {
  display: block;
}

.icons {
  width: 15%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.avoid_wrap {
  display: inline-block;
}

.profile {
  width: 90vw;
  padding: 0;
  transition: opacity 1s;
  box-shadow: 10px 10px 1px #daab8d;
  -webkit-box-shadow: 10px 10px 1px #daab8d;
  -moz-box-shadow: 10px 10px 1px #daab8d;
}

.div_split_r,
.div_split_l {
  position: relative;
  padding-top: 15px;
  width: 90%;
  margin: 0 auto;
}

.opacity_0 {
  opacity: 0;
}

.poem_container {
  margin: 20vh 0 0 20vw;
  background: #75632b;
  padding: 5vh 10vw;
  animation: fade-in 2s;
  position: relative;
}

.poem_container_alt {
  margin: 20vh 0 0 20vw;
  padding: 5vh 10vw;
  animation: fade-in 2s;
  font-weight: 900;
  position: relative;
  font-size: 1.2em;
}

.absolute_box {
  position: absolute;
  background: #daab8d;
  width: 60vw;
  height: 60vh;
  overflow: hidden;
  top: 0
}

.absolute_box_two {
  position: absolute;
  background: #d99838;
  overflow: hidden;
  width: 60vw;
  height: 60vh;
  top: 80vh;
  right: 0;
}

.absolute_box_three {
  position: absolute;
  background: black;
  overflow: hidden;
  width: 20vw;
  height: 20vw;
  top: 150vh;
}

.poem_p {
  font-family: 'f', serif;
  margin: .5em;
  letter-spacing: 0.55px;
  opacity: 0;
  font-size: 1.2em;
  transition: opacity 1s;
  color: white;
}

.poem_p_alt {
  font-family: 's', serif;
  text-transform: uppercase;
  margin: .5em;
  letter-spacing: 0.55px;
  opacity: 0;
  transition: opacity 1s;
  color: black;
  font-size: 0.9em;
}


/**
 * Animations
**/
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(0, 15px);
    ;
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
    ;
  }
}

/**
 * Media Queries
**/
@media (min-width: 426px) {
  .rwd_break {
    display: none;
  }
 
}

@media (min-width: 600px) {
  .profile {
    width: 45vw;
    margin: 55px;
  }

  .div_split_r,
  .div_split_l {
    position: relative;
    float: left;
    height: 100vh;
  }

  .div_split_l {
    width: 25%
  }

  .div_split_r {
    width: 74%
  }
  .ul {
    float: right;
    width: fit-content;
    text-align: none;
    margin: 0 10vw 0 0;
  }
}

@media (min-width: 900px) {
  .div_split_l {
    width: 45%
  }

  .div_split_r {
    width: 54%
  }

}